<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Les Evenements du moment...</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let artist of artists">
      <ion-thumbnail item-start>
        <img src="{{artist.avatar}}">
      </ion-thumbnail>
      <h2>{{artist.name}}</h2>
      <p *ngFor="let e of artist.events">
        <span style="color: cadetblue;">{{e.title}}</span>
      </p>
      <button ion-button clear item-end (click)="showDetails(artist)">Voir</button>
    </ion-item>
  </ion-list>
</ion-content>
