<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar (ionInput)="getItems($event)" autocomplete="on" placeholder="Nom de l'artiste..."></ion-searchbar>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-item-divider color="primary">
        <strong><h1>Liste des Artistes</h1></strong>
      </ion-item-divider>
  <ion-card *ngIf="artist">
      <ion-avatar item-start>
    <img src="{{resUrl+artist.avatar}}"/>
    </ion-avatar>
    <ion-card-content>
      <ion-card-title>
        {{artist.name}}
      </ion-card-title>
      <p>
          Participé aux évènements suivants:
      </p>
      <ion-list>
        <ion-item *ngFor="let e of artist.events">
          <ion-thumbnail item-start>
            <img src="{{resUrl+e.picture}}">
          </ion-thumbnail>
          <h2>{{e.title|uppercase}}</h2>
          <p>à <strong>{{e.place.title}}</strong></p>
          <p>{{e.place.address.commune}}</p>
          <!--button ion-button item-end (click)="showDetails(e)">Voir</button-->
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <button ion-item *ngFor="let a of artists" (click)="presentArtist(a)">
      {{a.name}}
    </button>
  </ion-list>
  <button ion-button color="dark" full (click)="back()">Retour</button>
</ion-content>