<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="{{resUrl+event.picture}}" />
      </ion-thumbnail>
      <h2>{{event.title}}</h2>
      <p>à 
        {{event.place.title}}
        <ion-badge color="dark">{{event.place.address.commune}}</ion-badge>
      </p>
      <p>Du 
        <strong>{{event.begin| date:'longDate':'':'fr'}} </strong>
        Au 
        <strong>{{event.end| date:'longDate':'':'fr'}}</strong>
      </p>
    </ion-item>

    <img src="{{resUrl+event.place.picture}}" />
    <ion-card-content>
      <ion-list>
        <p>
          <strong>
            Artiste invités:
          </strong>
        </p>
        <ion-item *ngFor='let a of event.artists'>
          <ion-thumbnail item-start>
            <img src="{{resUrl+a.avatar}}">
          </ion-thumbnail>
          <h2>{{a.name}}</h2>
          <button ion-button (click)="streamAudio(resUrl+a.sample)">
            <ion-icon name="md-play"></ion-icon>
          </button>
          <button ion-button (click)="stopStream()">
            <ion-icon name="md-pause"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
      <p id="description">{{event.description}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col text-center>
        <button ion-button icon-left clear small>
          <ion-icon name="map"></ion-icon>
          <div>Voir sur la carte...</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-list *ngIf="similar">
    <ion-item-divider color="dark">
      <strong>
        <h2>
            A voir aussi à "{{event.place.address.commune}}"
        </h2>
      </strong>
    </ion-item-divider>
    <ion-item  *ngFor="let e of similar[0].events" >
        <ion-thumbnail item-start>
          <img src="{{url+'/uploads/'+e.picture}}">
        </ion-thumbnail>
        <ion-badge color="dark"><h3>{{e.title|uppercase}}</h3></ion-badge>
        <p><strong>Artistes invités:</strong></p>
        <div *ngFor="let a of e.artists">
          <p>{{a.name}}</p>
        </div>
        <p><strong>Lieu:</strong><ion-badge color="secondary">{{e.place.title|uppercase}}</ion-badge> à <strong>{{e.place.address.commune|uppercase}}</strong></p>
        <button ion-button item-end (click)="showDetails(e)">Voir+</button>
      </ion-item>
  </ion-list>
  <button ion-button navPop full>Retour</button>
</ion-content>